{% extends "base/base.html" %}
{% block title %}
Nuevo Tipo de Producto
{% endblock title %}
{% block content %}
<div class="row">
    <div class="container">
        <h1>Nuevo Tipo de Producto</h1>
        <form method="post">{% csrf_token %}
           <!-- <div class="row">
                {{ form.as_p }}     
            </div>-->
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="control-label">{{ form.nombre.label }}</label>
                        {{ form.nombre }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="control-label">{{ form.descripcion.label }}</label>
                        {{ form.descripcion }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="control-label">{{ form.refrigeracion.label }}</label>
                        {{ form.refrigeracion }}
                    </div>
                </div>
            </div>
            <button class="btn guardar">Guardar</button>
        </form>
    </div>
</div>
{% endblock content %}