{% extends "base/base.html" %}
{% block title %}
Nueva Refrigeración
{% endblock title %}
{% block content %}
<div class="row">
    <div class="container">
        <h1>Nueva Refrigeración</h1>
        <form method="post">{% csrf_token %}
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="nombre" class="control-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="descripcion" class="control-label">Descripción</label>
                    <textarea name="descripcion" class="form-control" id="descripcion" rows="5"></textarea>
                </div>
            </div>
            <button class="btn guardar">Guardar</button>
        </form>
    </div>
</div>
{% endblock content %}